{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container login-form">
        <div class="row" style="min-height: 150px"></div>
        <div style="display: flex; flex-direction: row;align-content: center; justify-content: space-around; margin-bottom: 50px">
            <h3>Login to Cab Choice</h3>
        </div>
        <div style="display: flex; flex-direction: row;align-content: center; justify-content: space-around;">
            <div class="panel panel-default" style="flex-basis: 40%; border: 2px solid #001e72; border-radius: 5px; padding: 40px 20px">
                <div class="panel-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-md-12">
                             <label class="align-r">Username or Email</label>
                             <input type="text" class="form-control" placeholder="Username or Email" name="username_email" autocomplete="off" required>
                         </div>
                         <div class="col-md-12">
                             <label class="margin-label">Password</label>
                             <input type="password" class="form-control" placeholder="Password" name="user_password" autocomplete="off" required>
                         </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn form-control btn-contact" style="padding-bottom: 35px">Login</button>
                        </div>
                    </form>
                    {% if form.errors %}
                        <div style="margin-top: 15px">
                            <p style="color: red; font-size: smaller; padding: 0 15px">Your email and password didn't match. Please try again.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="min-height: 100px"></div>
    </div>
{% endblock content %}