{% load static from staticfiles %}
<!--
 Built on Square1 -- https://www.startwithsquare1.com
-->
<!DOCTYPE html>
<html lang="en_IN">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>RoamCab - Plan Your travel with us</title>
	<!--Google Font-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,600i,700" rel="stylesheet">
	<!--Bootstrap Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/bootstrap.min.css' %}">
	<!--Owl Carousel Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/plugins/owl.carousel.min.css' %}">
	<!--Slick Slider Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/plugins/slick-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/plugins/slick.css' %}">

	<!--Font Awesome Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/font-awesome.min.css' %}">
	<!--Animate Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/plugins/animate.css' %}">
	<!--Main Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/css/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/css/bc.css' %}">
	<!--Responsive Stylesheet-->
	<link rel="stylesheet" type="text/css" href="{% static 'theme/css/homePageResponsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/css/otherPageResponsive.css' %}">


</head>
    <body>
    <div class="main">
        <!--Start Preloader-->
            <div class="site-preloader">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        <!--End Preloader-->
        <div id="main-menu">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<a class="navbar-brand" href="#">
{#						<img src="{% static 'theme/img/logo.png' %}" alt="">#}
                        <h1 style="color: #356ad8">RoamCab</h1>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
								<li class="nav-item ">
								    <a class="nav-link" href="/">Home</a>
							    </li>
								<li class="nav-item">
									<a class="nav-link" href="packges.html">Package</a>
								</li>
{#								<li class="nav-item">#}
{#									<a class="nav-link" href="hotels.html">Hotel</a>#}
{#								</li>#}
								<li class="nav-item">
									<a class="nav-link" href="ourvahicles.html">Vehicles</a>
								</li>
{#								<li class="nav-item">#}
{#									<a class="nav-link" href="blog.html">Blog</a>#}
{#								</li>#}
{#								<li class="nav-item dropdown">#}
{#									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"#}
{#										aria-expanded="false">#}
{#										Pages#}
{#									</a>#}
{#									<div class="dropdown-menu" aria-labelledby="navbarDropdown2">#}
{#										<a class="dropdown-item" href="AboutUs.html">About Us</a>#}
{#										<a class="dropdown-item" href="gallery.html">Gallery Grid</a>#}
{#										<a class="dropdown-item" href="ticket-booking.html">Ticket Booking</a>#}
{#										<a class="dropdown-item" href="ourdestination.html">Our Destination</a>#}
{#										<a class="dropdown-item" href="blog-sidebar-left.html">Blog Sidebar left</a>#}
{#										<a class="dropdown-item" href="blog-sidebar-right.html">Blog Sidebar Right</a>#}
{#										<a class="dropdown-item" href="faq.html">FAQ</a>#}
{#										<a class="dropdown-item" href="404.html">404</a>#}
{#									</div>#}
{#								</li>#}
								<li class="nav-item">
									<a class="nav-link" href="/checkLicenseNumber">Register</a>
								</li>
							</ul>
						<a class="mamunur_rashid_top_book_btn" href="ticket-booking.html">Book Online</a>
					</div>
				</div>
			</nav>
		</div>

		<!-- =========== nav end =========== -->
        {% block content %}{% endblock %}

        <!-- footer part start -->
		<footer id="contact" class="theme-footer-one">
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6 about-widget">
							<div class="f-logo">
{#								<img src="{% static 'theme/img/logo.png' %}" alt="">#}
                                <h1 style="color: #356ad8">RoamCab</h1>
							</div>
							<p>There are many variations of passages of that Lorem Ipsum available but the majority have is suffered
								alteration.</p>
							<div class="queries">
								<ul>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<a href="tel:+1234567900">(+1) 234 567 900</a>
								</li>
								<li>
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<a href="#">123 Usa, New Work</a>
								</li>
								<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<a href="mailto:demo@gmail.com">demo@gmail.com</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /.footer-recent-post -->
						<div class="col-lg-3 col-sm-6 footer-list">
							<h6 class="title">Usefull Links</h6>
							<ul>
								<li>
									<a href="#">Wedding Tours</a>
								</li>
								<li>
									<a href="VehiclesSpecification.html">Bus Tours</a>
								</li>
								<li>
									<a href="#">Food & Wine</a>
								</li>
								<li>
									<a href="#">Summer Rest</a>
								</li>
								<li>
									<a href="gallery.html">Tours Photo Gallery</a>
								</li>
							</ul>
						</div>
						<!-- /.about-widget -->
						<div class="col-lg-3 col-sm-6 footer-recent-post">
							<h6 class="title">Recent News</h6>
							<ul>
								<li class="d-flex">
									<img src="{% static 'theme/img/blog/f1.png' %}" alt="" class="float-left">
									<div class="post float-left">
										<a href="blog-details-right.html">Discovering
											the Beauty of New Zealand</a>
										<div class="date">Feb 06, 2018</div>
									</div>
								</li>
								<li class="d-flex">
									<img src="{% static 'theme/img/blog/f1.png' %}" alt="" class="float-left">
									<div class="post float-left">
										<a href="blog-details-right.html">Discovering
											the Beauty of New Zealand</a>
										<div class="date"> Mar 20, 2018</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- /.footer-list -->
						<div class="col-lg-3 col-sm-6 footer-newsletter">
							<h6 class="title">Instagram</h6>
							<div class="row">
								<div class="col-md-4 col-4 item">
									<img class="insta img-fluid" src="{% static 'theme/img/footer/ins-1.png' %}" alt="">
								</div>
								<div class="col-md-4 col-4 item">
									<img class="insta img-fluid" src="{% static 'theme/img/footer/ins-2.png' %}" alt="">
								</div>
								<div class="col-md-4 col-4 item">
									<img class="insta img-fluid" src="{% static 'theme/img/footer/ins-3.png' %}" alt="">
								</div>
								<div class="col-md-4 col-4 item">
									<img class="insta img-fluid" src="{% static 'theme/img/footer/ins-3.png' %}" alt="">
								</div>
								<div class="col-md-4 col-4 item">
									<img class="insta img-fluid" src="{% static 'theme/img/footer/ins-2.png' %}" alt="">
								</div>
								<div class="col-md-4 col-4 item">
									<img class="insta img-fluid" src="{% static 'theme/img/footer/ins-1.png' %}" alt="">
								</div>
							</div>

							<div class="row">
								<div class="col-12">
									<div class="social-link">
										<span>Follow Us : </span>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
										<a href="#">
											<i class="fa fa-instagram"></i>
										</a>
										<a href="#">
											<i class="fa fa-linkedin"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.top-footer -->
			<div class="bottom-footer">
				<div class="container">
					<div class="row">
						<div class="col-12 text-center ">
							<p>&copy; Copyrights 2018. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.bottom-footer -->
		</footer>
		<!-- footer part end -->

        <!--Start ClickToTop-->
		<div class="totop">
			<a href="#top"><i class="fa fa-arrow-up"></i></a>
		</div>
		<!--End ClickToTop-->
    </div>
    <!--End Body Wrap-->
	<!--jQuery JS-->
	<script src="{% static 'theme/js/jquery.2.1.2.min.js' %}"></script>
	<!--Bootstrap JS-->
	<script src="{% static 'theme/js/bootstrap.min.js' %}"></script>
	<!--Counter JS-->
	<script src="{% static 'theme/js/plugins/waypoints.js' %}"></script>
	<script src="{% static 'theme/js/plugins/jquery.counterup.min.js' %}"></script>
	<!--Owl Carousel JS-->
	<script src="{% static 'theme/js/plugins/owl.carousel.min.js' %}"></script>
	<!--Venobox JS-->
	<script src="{% static 'theme/js/plugins/venobox.min.js' %}"></script>

    <!-- Bootstrap Growl -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>

    {% for message in messages %}
        <script>
        $.bootstrapGrowl("{{ message }}", {
          ele: 'body',
          type: {% if "success" in message.tags %}"success"{% elif "error" in message.tags %}"danger"{% endif %},
          offset: {from: 'top', amount: 120},
          align: 'right',
          width: 250,
          delay: 400000,
          allow_dismiss: true,
          stackup_spacing: 10
        });
        </script>
    {% endfor %}

	<!--Slick Slider JS-->
	<script src="{% static 'theme/js/plugins/slick.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7eALQrRUekFNQX71IBNkxUXcz-ALS-MY&sensor=false"></script>
    <script src="{% static 'theme/js/plugins/gmap.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>

	<!--Main-->
	<script src="{% static 'theme/js/custom.js' %}"></script>




        {% block page_level_scripts %}
            <script src="{% static 'theme/js/checkLicenseNumber.js' %}"></script>
        {% endblock %}

    </body>
</html>