{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}

	<!--Start Body Wrap-->
	<div id="body-wrap">

		<!-- =========== nav end =========== -->

		<section id="breadcrumb">
			<div class="overly"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-10 text-center">
						<div class="breadcrumbinfo">
							<article>
								<h2>Contacts Us</h2>
								<a href="#">Home</a> <span>/</span>
								<a class="active" href="#">Contacts Us</a>
							</article>
						</div>
					</div>
				</div>
		</div>
	</section>
	<!-- =========== banner end =========== -->


<!--================================
        contact us  part start
    =====================================-->
		<section id="contact-main" class="bg-light_grey">
			 <div class="contact-form-area-padding">
				 <div class="container">
					 <div class="row contact-form-area">
						 <div class="col-lg-12 contact-form" >
                             <div id="step-2" class="show">
                                 <div class="row">
                                     <div class="text-center">
                                         <div class="contact-block-form">
                                             <h4>Keep in touch</h4>
                                             <p>There are many variations of passages of Lorem Ipsum available but the majority a have suffered alteration in some form by injected humour or randomised look even slightly believable. </p>
                                         </div>
                                     </div>
                                 </div>
                                 <form id="c-form" method="post" enctype="multipart/form-data">
                                     {% csrf_token %}
                                     <div class="row">
                                         <div class="col-md-12">
                                             <label class="align-r">License Number</label>
                                             <input type="text" class="form-control" placeholder="Enter Car License Number" name="license_number" value="{{ view.get_car.license_number }}" required>
                                             <span style="color: red; font-size: smaller">{{ form.license_number.errors }}</span>
                                         </div>
                                         <div class="col-md-12">
                                             <label class="margin-label">Manufacturing Date</label>
                                             <input type="date" class="form-control" placeholder="Manufacturing Date" name="manufacturing_date" {% if form.errors %}value="{{ form.manufacturing_date.value }}"{% endif %} required>
                                             <span style="color: red; font-size: smaller">{{ form.manufacturing_date.errors }}</span>
                                         </div>

                                         <div class="col-md-12">
                                             <label class="margin-label">Model</label>
                                             <select class="form-control" name="model" required style="height: 60px;">
                                                 <option {% if not form.errors or not form.model.value %}selected{% endif %} disabled>Select a model</option>
                                                 {% for item in view.get_models %}
                                                    <option value="{{ item.id }}" {% if form.errors and form.model.value == item.id %}selected{% endif %}>{{ item.modelName }}</option>
                                                 {% endfor %}
                                             </select>
                                             <span style="color: red; font-size: smaller">{{ form.model.errors }}</span>
                                         </div>
                                         <div class="col-md-12">
                                             <label class="margin-label">Rate List</label>
                                             <select class="form-control" name="rateList" required style="height: 60px;">
                                                 <option {% if not form.errors or not form.rateList.value %}selected{% endif %} disabled>Select a rate list</option>
                                                 {% for item in view.get_rateList %}
                                                    <option value="{{ item.id }}" {% if form.errors and form.rateList.value == item.id %}selected{% endif %}>{{ item.rate }}</option>
                                                 {% endfor %}
                                             </select>
                                             <span style="color: red; font-size: smaller">{{ form.rateList.errors }}</span>
                                         </div>
                                         <div class="col-md-12">
                                             <label class="margin-label">Fuel Type</label>
                                             <select class="form-control" name="fuelType" required style="height: 60px;">
                                                 <option {% if not form.errors or not form.fuelType.value %}selected{% endif %} disabled>Select a fuel type</option>
                                                 {% for item in view.get_fuelType %}
                                                    <option value="{{ item.id }}" {% if form.errors and form.fuelType.value == item.id %}selected{% endif %}>{{ item.type }}</option>
                                                 {% endfor %}
                                             </select>
                                             <span style="color: red; font-size: smaller">{{ form.fuelType.errors }}</span>
                                         </div>

                                         <div class="col-md-12">
                                             <label class="margin-label">Vehicle Colour</label>
                                             <select class="form-control" name="vehicle_color" required style="height: 60px;">
                                                 <option {% if not form.errors or not form.vehicle_color.value %}selected{% endif %} disabled>Select a vehicle colour</option>
                                                 {% for item in view.get_vehicleColour %}
                                                    <option value="{{ item.id }}" {% if form.errors and form.vehicle_color.value == item.id %}selected{% endif %}>{{ item.colour }}</option>
                                                 {% endfor %}
                                             </select>
                                             <span style="color: red; font-size: smaller">{{ form.vehicle_color.errors }}</span>
                                         </div>

                                         <div class="col-12">
                                             <label class="margin-label">Vehicle Type</label>
                                             <select class="form-control" name="vehicle_type" required style="height: 60px;">
                                                 <option {% if not form.errors or not form.vehicle_type.value %}selected{% endif %} disabled>Select a vehicle type</option>
                                                 {% for item in view.get_vehicle_types %}
                                                    <option value="{{ item.id }}" {% if form.errors and form.vehicle_type.value == item.id %}selected{% endif %}>{{ item.carTypeName }}</option>
                                                 {% endfor %}
                                             </select>
                                             <span style="color: red; font-size: smaller">{{ form.vehicle_type.errors }}</span>
                                         </div>
                                         <div class="col-12">
                                             <label class="margin-label">Kilometers run</label>
                                             <input type="number" class="form-control" placeholder="Enter kilometers run" {% if form.errors %}value="{{ form.km_run.value }}"{% endif %} name="km_run" required>
                                             <span style="color: red; font-size: smaller">{{ form.km_run.errors }}</span>
                                         </div>
                                         <div class="col-12">
                                             <label class="margin-label">RC</label>
                                             <input type="file" class="form-control" placeholder="Select the file to upload" style="line-height: normal" name="rc">
                                         </div>
                                         <div class="col-12">
                                             <label class="margin-label">Fitness</label>
                                             <input type="file" class="form-control" placeholder="Select the file to upload" style="line-height: normal" name="fitness">
                                         </div>
                                         <div class="col-12">
                                             <label class="margin-label">Permit</label>
                                             <input type="file" class="form-control" placeholder="Select the file to upload" style="line-height: normal" name="permit">
                                         </div>
                                         <div class="col-12">
                                             <label class="margin-label">Insurance</label>
                                             <input type="file" class="form-control" placeholder="Select the file to upload" style="line-height: normal" name="insurance">
                                         </div>
                                        <div class="col-12">
                                             <label class="margin-label">Pollution</label>
                                             <input type="file" class="form-control" placeholder="Select the file to upload" style="line-height: normal" name="pollution">
                                         </div>
                                         <div class="col-12">
                                             <div>
                                                 <button type="submit" class="btn btn-contact">submit</button>
                                             </div>
                                         </div>
                                     </div>
                                 </form>
                             </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </section>
		 <!--================================
				 contact us part end
		=====================================-->



	<!--Start ClickToTop-->
	<div class="totop">
		<a href="#top"><i class="fa fa-arrow-up"></i></a>
	</div>
	<!--End ClickToTop-->
	</div>

{% endblock %}